body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: skyblue;
}

.list {
    width: 60%;
    height: 100%;
    background-color: slategray;
}

